@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Melber Eats</h1>
        <p class="lead">Restaurants your love, you can get everything in your</p>
        @if (User.Identity.IsAuthenticated)
        {
            <p><a href="../Orders/Create" class="btn btn-primary btn-lg">Book your order now &raquo;</a></p>
            
        }
        else
        {
            <p>Welcome to the Melber Eats</p>
        }
        @*<p><a href="../Account/Login" class="btn btn-primary btn-lg">Book your order now &raquo;</a></p>*@
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Ready to order your favourite food</p>
        <p><a class="btn btn-default" href="../Orders/ListRestaurant">Search restaurants &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Add your own Restaurants</h2>
        <p>You can easily show your own restaurants to everyone</p>
        <p><a href="../restaurants/Create" class="btn btn-default" >Add Restaurants &raquo;</a></p>
    </div>
</div>
